html, body {width:100%; height:100%; margin:0px; padding:0px; overflow:hidden; background-color:#333333}

ul {list-style:none; padding:0px; margin:0px; }


/**
 * 	mainContent
 */
#mainContent {width:100%; position:relative; height:95%; }


/**
 * 	google map
 */
#gmap {width:100%; height:45%;}
.mapIconLabel {font-size:11px; font-weight:bold; color:#f1f1f1; text-align:center; width:20px;}
#gmap .map-toc { position:absolute; top:5px; right:100px; z-index:1000; }
#gmap .map-toc button.btn {float:right; }
#gmap .map-toc ul {background-color:#ffffff; color:#000000; box-shadow:5px 5px 15px #cccccc; padding:5px 15px 5px 15px; display:none; margin-top:35px; }



/**
 * 	popup window
 */
.gm-style-iw .mapit {display:none; }





/**
 * 	header
 */
.header ul.navbar-nav {float:right; margin-right:5px; }
.header {margin-bottom:2px; background-color:transparent; border:0px; }
.header img {height:25px; }
.header .glyphicon-class {margin-left:5px; }
.header .navbar-header ul {float:left; margin-top:11px; }
.header .navbar-header ul li {float:left; margin-right:20px; }


/**
 * 	nav bar 
 */
.navbar-inverse .navbar-nav>li>a {color:#dddddd; }


/**
 * 	list
 */
#listContent { width:100%; border-radius:0px; height:53%; overflow:hidden; position:relative;   }
#listContent > input {width:95%; margin:0 auto; }
#listContent > .badge {position:absolute; top:8px; right:5%; background-color:#3276B1; display:none; }
#listContent #listResult {height:94%; overflow-y:auto; margin-top:2%;}
#listContent #listResult > ul {width:98%; margin:0 auto; }
#listContent #listResult > ul > li {padding:10px; border-bottom:1px solid #f1f1f1; margin:10px; background-color:#ffffff;  color:#000000; border-radius:5px; position:relative; }
#listContent #listResult > ul > li:hover {background-color:#f1f1f1;}
#listContent .contentHtml {width:auto; font-size:16px; }
#listContent .contentHtml span {  }

#listContent .contentHtml .type {font-size:14px; }
#listContent li .num {position:absolute; top:10px; right:10px; height:30px; padding:6px 7px; font-size:14px; color:#ffffff; background-color:#CC1A4A; background:url("../images/symbol_blank.png") no-repeat top left; background-size: 100% 100%; border-radius:0px; }
#listContent .contentHtml .distance {}

#listResult button.edit {position:absolute; top:10px; right:30px; display:none;  }



/**
 * 	content html
 */
.contentHtml {width:350px; height:auto; position:relative; }
.contentHtml > ul {list-style:none; width:100%; padding:0px; margin:0px; display:block; margin-top:20px;  }
.contentHtml > ul > li {float:left;  position:relative; display:block;}
.contentHtml .contactContent {width: 70%; }
.contentHtml .type {font-weight:bold; }
.contentHtml .title {margin-bottom:15px;  font-size:18px;  }
.contentHtml .content span {display:block; font-size:13px; color:#555555; line-height:20px; }
.contentHtml .feeContent {width:30%; }
.contentHtml .fee {margin-top:15px; display:table; width:100%;}
.contentHtml .fee span {display:block; float:left; width:50%;  }
.contentHtml .fee span b {font-size:13px; color:#555555;}
.contentHtml .fee b.subtitle {color:#555555; font-size:13px; }

.contentHtml .operationHour {margin-top:15px; display:table; width:100%; border-top:1px solid #f1f1f1;}
.contentHtml .operationHour span {display:block; float:left; width:50%;  }
.contentHtml .operationHour span b {font-size:13px; color:#555555;}
.contentHtml .operationHour b.subtitle {color:#555555; font-size:13px; }

/**.contentHtml button {display:block; font-size:12px; padding:4px; margin-top:10px; }*/

.contentHtml .route {position:absolute; bottom:0px; right:0px; }
.contentHtml .route img {width:50px; height:50px; }
.contentHtml hr {margin-bottom:0px; margin-top:10px; }

.contentHtml ul.toolbar {display:inline-block; margin-top:0px; margin-bottom:10px;  }
.contentHtml ul.toolbar li {float:left; margin-right:10px; }
.contentHtml .distance {font-size:0.8em; }

/**
 * 	popup window
 */
.modal .input-group {width:100%; margin-bottom:2px; }
.modal .input-group .input-group-addon {width:27%; text-align:left; max-width:180px;  }
.modal .subtitle {font-size:12px; }
.modal .loading {width:25px; height:25px; margin-right:20px; display:none;  }
.modal .error {color:#ff0000; float:right;}


#popup_confirmUpdate .modal-body ul {list-style:disc; padding:10px; }
#popup_confirmUpdate .modal-body ul > li {padding-bottom:5px; }

#popup_searchLocation .modal-content {}
#popup_searchLocation .alert {display:none; }
#popup_searchLocation .loading {display:none; position:absolute; left:60%; margin:0px; top:3px;  }

#popup_review span.rating {float:right; position:relative; top:-20px; }
#popup_review span.rating img {width:25px; height:25px; }


#popup_resource .panel-body ul > li {float:left; width:50%; }







/**
 * 	responsive UI
 */
@media screen and (min-width: 1200px){	
	#gmap {width:72.5%; float:left; height:100%;}
	#listContent {width:27.5%; float:left;  height:100%; }
}

@media screen and (min-width: 665px) and (max-width: 1199px){	
	#gmap {width:65%; float:left; height:100%;}
	#listContent {width:35%; float:left;  height:100%; }
	
}


/**
 * 	iphone
 */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	#gmap {width:100%; height:45%;}
	#listContent {width:100%; height:53%; }
	
}

